/* Note side panel */ 
@media (min-width:650px){
    #mobile-menu{
    display: none;
    }
}
@media (max-width:650px){
    #mobile-menu{
        font-size: 50px;
        color: white;
        background-color: rgb(0, 47, 255, 0.7);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border: #000000 1px solid;
        border-top: rgb(0, 47, 255);
        position: absolute;
        transform: translateX(0%);
        transition: transform 1s ease;
        right: 0;
        z-index: 9;
    }
}
@media (max-width:650px){
    #mobile-menu.show{
        display: block;
        transform: translateX(-89vw);
    }
}

@media (max-width:650px){
.note-tab.show{
    display: block;
    transform: translateX(0%);
    width: 100%;
    max-width: 90%;
    z-index: 1;
    }
}

.note-tab{
    justify-content: right;
    /* margin-top: 20px; */
    background-color: #00dcfe;  
    height: 100%;
    position: absolute;
    right: 0;
    /* top: 3%; */
    border-left: rgb(0, 47, 255) 2px solid;
    border-bottom: rgb(0, 47, 255) 2px solid;
    max-width: 300px;
    width: 240px;
}
@media (max-width:650px){
    .note-tab{
        transition: transform 1s ease;
        transform: translateX(100%);
        display: none;
        width: 100%;
        max-width: 90%;
    }
}
.note-tab h1{
    padding: 10px;
}
h1{
    color: white;
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: oblique;
    text-align: center;
    background-color: #323232;
    margin-top: 10px;
    border-bottom:rgb(0, 47, 255) 5px solid; ;
}
p{
    margin-bottom: 0;
    margin-top: 0;
}
.inline{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
}
.inline p{
    text-decoration: underline;
    font-family: kanit, sans-serif;
    font-weight: 700;
}
#inline-button{
    max-width: 58%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    background-color: #fbfbfb;
    border: 1px solid #000000;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
#inline-button:hover{
    transform: scale(1.03);
}
.paragraph{
    margin: 0;
    border-bottom: blue 1px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px;
    text-decoration: underline;
    font-family: kanit, sans-serif;
    font-weight: 700;
}
ul{
    list-style-type: none;
    display: inline;
    margin: 0;
    padding-inline-start: 0;
  
}
li a{
    text-decoration: none;
    color: inherit;
}
.note {
    position: relative;
    box-shadow: 1px -1px rgba(0, 0, 0, 1), 1px 1px rgba(0, 0, 0, 1);
    background-color: #ffffff;
    text-overflow: clip;
    overflow-wrap: break-word;
    overflow: hidden;
    padding: 2px;
    max-height: 100px;
    margin-bottom: 2px;
}

.note:hover {
    box-shadow: 1px -1px rgba(0, 0, 0, 1), 1px 1px rgba(0, 0, 0, 1), 1px 1px 10px rgba(0, 0, 0, 1);
    z-index: 1;
}

.note-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
.note-tab-content{
  display: block;
}
#note-list{
    position: absolute;
    max-height: 75%;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;    
    cursor: pointer;
    z-index: 6;
}
.note-name {
    font-family: kanit, sans-serif;
    padding: 1px;
    padding-right: 5px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 25px;    
}
#trash{
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-left: -4px; 
    position: absolute;
    top: -4px;
    text-decoration: none;
    color: inherit;
}
.note-date {
    font-family: kanit, sans-serif;
    padding: 1px;
    padding-left: 10px; 
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    margin-right: 0px;
    position: absolute;
    right: 0;
    top: -8px;
    
}


a:hover #trash{
    color: rgb(255, 0, 0);
}
.note-tab-buttons{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
#newnote-side{
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(0, 47, 255, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: #000000 1px solid;
}
#sharenote{
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(0, 47, 255, 0.5);
    border: #000000 1px solid;
}
#reloadnotes{
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(0, 47, 255, 0.5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #000000 1px solid;
}

#newnote-side:hover .bi-plus-circle, #sharenote:hover .bi-share, #settings-button:hover .bi-gear, #logout-button:hover .bi-x-square, #reloadnotes:hover .bi-arrow-repeat { 
    display: none;
}
#newnote-side .bi-plus-circle-fill,#sharenote .bi-share-fill ,#settings-button .bi-gear-fill, #logout-button .bi-x-square-fill,#reloadnotes .bi-arrow-clockwise {
    display: none;
}
#newnote-side:hover .bi-plus-circle-fill ,#sharenote:hover .bi-share-fill ,#settings-button:hover .bi-gear-fill,#logout-button:hover .bi-x-square-fill, #reloadnotes:hover .bi-arrow-clockwise { 
    display: inline;
}
#logout-button{
    font-size: 50px;
    color: white;
    padding: 25px 50px 0px 50px;
    background-color: rgb(0, 47, 255, 0.5);
    border-radius: 10px;
    border: #000000 1px solid;
    position: relative;
    margin-top: 10px;
}
#logout-button p{
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    transform: translate(-30%,-75%);
    position: absolute;

}

/* Note side panel END */ 
/* Settings popout */
.settings-block {
    justify-content: right;
    /* margin-top: 20px; */
    background-color: #00dcfe;  
    height: 100%;
    position: absolute;
    right: 0;
    /* top: 3%; */
    border-left: rgb(0, 47, 255) 2px solid;
    width: 300px;
    max-width: 300px;
    display: none;
    transition: transform 1s ease;
    transform: translateX(100%);
    z-index: 8; /* fixed the settings popout not showing on top of the spinner */
}
.settings-block.show{
    display: block;
    transform: translateX(0%);
    
} 
@media(max-width:650px){
    .settings-block.show{
        width: 550vw;
        max-width: 90%;
        display: block;
        transform: translateX(0%);
    }
}
.settings-button{
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: rgb(0, 47, 255, 0.5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: #000000 1px solid;
    position: absolute;
    right: 0;
    display: block;
    transition: transform 1s ease;
    transform: translateX(0%);
}
.settings-button.show{
    transform: translateX(-710%);

}
@media(max-width:650px){
    .settings-button.show{   
     z-index: 5;
     left: -40px;
     transform: translateX(0%);
    }
}
.settings-pop h1 {
   padding: 10px;
}
.settings-content p{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.settings-content button{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fbfbfb;
    border: 1px solid #000000;
    transition: transform 0.3s ease;
}
.center{
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}

/* Settings popout END*/


/* confirm delete note */
#delete-popup-box{
    display: none; /* disabled for now */
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 9;
}
#popup-delete{
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-60%, -50%); 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    border: #fff 15px solid;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; 
}
@media (max-width: 650px) {
    .popup-login, #popup-delete{
        width: 90%; 
        padding: 10px; 
        font-size: 0.8em; 
        transform: translate(-50%, -50%);
    }
}
#popup-delete p{
    font-family: kanit, sans-serif;
    font-size: 30px;
    display: flex;
    font-style: normal;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.397);
}
#popup-delete h3 {
    font-family: kanit, sans-serif;
    font-size: 40px;
    font-style: normal;
    text-align: center;
}
#popup-delete button{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin: 1px;
    background-color: #fbfbfb;
    border: 1px solid #000000;
    transition: transform 0.3s ease;
}
#popup-delete button:hover{
    background-color: #f1f1f1;
    transform: scale(1.05);
}
.bi-exclamation-triangle{
    font-size: 100px;
    color: red;
}
.toast-container{
    bottom: 10px;
    right:  10px;
    z-index: 100;
}

/* spinner */
#spinner {
    animation: rotate 2s linear infinite;
    z-index: 4;
    position: absolute;
    display: block;
    top: 30%;
    margin: 15% 50% 0% 40%;
    width: 50px;
    height: 50px;
    stroke: #ffffff;
    }
    .path {
      stroke: hsl(210, 70, 75);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
  }
  .outline {
    stroke: rgb(0, 0, 0);
    stroke-width: 4; 
}

  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }