body {
    font-family:Arial;
    margin: 0;
    padding: 0;
    background-image: url("../images/pencil-background.jpg");
    background-size: 100%;
    background-position-y: top;
    background-repeat: repeat;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url('../images/pencil-backgroundDARK.jpg');
    }
}
@media (max-width: 750px) {
    body {
        background-image: url("");
      
    }
}

@media (max-width: 750px) and (prefers-color-scheme: dark) {
    body {
        background-image: url("");
        background-color: #363636;
    }
}

.topbar {
    z-index: 15;
    background-color: #353636;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    top: 0;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    border-bottom: rgb(0, 47, 255) 5px solid;
}
.topbar a {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4px 20px;
    text-decoration: none;
    border-top-right-radius: 20px;    
    border-top-left-radius: 20px;  
}
.topbar-middle{
    position: relative;  
    /* margin-left: -230px;  */
    background-color:  rgba(0, 47, 255);
 }
 @media (max-width: 750px) {
     .topbar-middle {
         margin-left: 0px; 
     }
 }
 .topbar-right{
     position: absolute;
     right: 0;
     top: 0;
 }
 @media (max-width: 750px) {
     .topbar-right {
         position: relative;
         right: 0;
         top: 0;
     }
 }

.topbar a:hover {
    background-color: rgba(0, 47, 255, 0.5);
    
}
.fadee{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(0, 162, 232) 79%);
    height: 200px;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: -1;
}
/* Note button and hover effect */
#save-note:hover .bi-floppy, #deletenote:hover .bi-trash{
    display: none;
}
#save-note .bi-floppy-fill,#deletenote .bi-trash-fill{
    display: none;
}
#save-note:hover .bi-floppy-fill,#deletenote:hover .bi-trash-fill{
    display: inline;
}
#deletenote{
    font-size: 50px;
    color: white;
    padding: 25px 70px 0px 55px;
    background-color: rgb(0, 47, 255, 0.5);
    border-radius: 10px;
    border: #000000 1px solid;
    margin-left: 2px;
}
#save-note{
    font-size: 50px;
    color: white;
    padding: 25px 50px 0px 50px;
    background-color: rgb(0, 47, 255, 0.5);
    border-radius: 10px;
    border: #000000 1px solid;
}
.save-btn, .delete-btn{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.save-btn p, .delete-btn p{
    font-family: kanit, sans-serif;
    font-size: 46%;
    font-weight: 700;
    transform: translate(-28%, -75%);
    position: absolute;
}
/* Notepad Input */
.noted{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin-left:-230px ; */
}
.notepad{
    background-color: rgba(184, 184, 184, 0.7);
    margin: 20px;
    height: 90%;
    width: 50vw;
    border: #000000 1px solid;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
@media (max-width: 750px) {
    .noted {
        margin-left:0px ;
    }
}
@media (max-width: 750px) {
    .notepad {
        width: 100% ;
    }
}
.notepad-title{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
}
#title-input{
    width: 90%;
    background-color: rgba(184, 184, 184, 0.7);
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
#your-note{
    border: #000000 2px solid;
    justify-content: center;
    width: 84%;
    min-height: 35vw;
}
@media (max-width: 750px) {
    #your-note {
        min-height: 60vw;
    }
}

/* Popup login */
#popup-box{
    display: none; /* disabled for now */
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.popup-login{
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    border: #fff 15px solid;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; 
}
@media (max-width: 600px) {
    .popup-login {
        width: 90%; 
        padding: 10px; 
        font-size: 0.8em; 
    }
}
.popup-login p {
    font-family: kanit, sans-serif;
    font-size: 30px;
    display: flex;
    font-style: normal;
    text-align: center;
}
.popup-login h3 {
    font-family: kanit, sans-serif;
    font-size: 50px;
    font-style: normal;
    text-align: center;
}
/* toolbar */
#text-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px; 
    margin-right: 5px;
    width: 100%;
    border: #0000002a 1px solid;
}


.toolbar {
    background-color: #f0f0f0;
    margin: 5px;
    padding: 2px;
    display: flex;
    position: relative;
    justify-content: center;
    width: 84%;
    border: 1px solid #000000;
}
/* @media (max-width: 1058px){
    .toolbar {
        left: -5%;
    }
} */
@media (max-width: 750px){
    .toolbar {
        /* position: fixed; */
        /* margin: 10px 0px 0px 15px; */
        /* top: auto; */
        display: flex;
        flex-flow: row wrap;
        /* bottom: 0; */
        justify-content: center;
        /* left: 0;
        right: 0; */
    }
}

.style-buttons button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    display: inline-flex;
    /* justify-content: center; */
    justify-content: space-evenly;
}

@media (max-width: 750px){
    .style-buttons button {
        display: wrap;
        width: 130px;
        height: 50px;
        max-width: 99%;
    }
}
.style-buttons{
    display: none;
    
    transition: transform 0.5s ease;
}

.style-buttons button:hover {
    background-color: #ddd;
}