
body {
    font-family:Arial;
    margin: 0;
    padding: 0;
    background-image: url("../images/pencil-background.jpg");
    background-size: 100%;
    background-position-y: top;
    background-repeat: repeat;
    background-color: rgb(255, 255, 255);
    color: #000000;
}

@media (prefers-color-scheme: dark) {
    body {
        background-image: url('../images/pencil-backgroundDARK.jpg');
    }
}
@media (max-width: 650px) {
    body {
        background-image: url("");
      
    }
}

@media (max-width: 650px) and (prefers-color-scheme: dark) {
    body {
        background-image: url("");
        background-color: #363636;
    }
}

/* Update existing .topbar class */
.topbar {
    z-index: 15;
    background-color: #353636;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    border-bottom: rgb(0, 47, 255) 5px solid;
    transition: background-color 0.4s ease, transform 1s ease; /* Added transform transition */
}

.topbar a {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 4px 20px;
    text-decoration: none;
    border-top-right-radius: 20px;    
    border-top-left-radius: 20px;  
}

.topbar-middle{
   position: relative;  
   /* margin-left: -230px;  */
   background-color:  rgba(0, 47, 255);
   transition: background-color 0.4s ease;
   /* transition: background-color 0.1s ease-in-out; */
}
@media (max-width: 650px) {
    .topbar-middle {
        margin-left: 0px; 
    }
}
.topbar-right{
    position: absolute;
    right: 0;
    top: 0;
}
@media (max-width: 650px) {
    .topbar-right {
        position: relative;
        right: 0;
        top: 0;
    }
}

.topbar a:hover {
    background-color: rgba(0, 47, 255, 0.5);
    transition: background-color 0.1s ease-in-out;

}

/* Note button and hover effect */
#newnote-main:hover .bi-plus-circle {
    display: none;
}
#newnote-main .bi-plus-circle-fill{
    display: none;
}
#newnote-main:hover .bi-plus-circle-fill{ 
    display: inline;
}
#newnote-main{
    font-size: 50px;
    color: white;
    padding: 25px 50px 0px 50px;
    background-color: rgb(0, 47, 255, 0.5);
    border-radius: 10px;
    border: #000000 1px solid;
}


/* Notepad Input */
.welcome-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    /* margin-left:-230px ; */ /* disabled for now */
}
@media(max-width: 650px){
    .welcome-box{
        margin-left: 0px;
        margin-top: 80px;
    }
}
@media(max-width: 495px){
    .welcome-box{
        margin-top: 100px;
    }
}
h3{
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
a {
    text-decoration: none;
}

.welcome-message{
    background-color: rgba(184, 184, 184, 0.7);
    margin: 20px;
    height: 40%;
    width: 50vw;
    border: #000000 1px solid;
}
@media(max-width: 750px){
    .welcome-message{
        width: 100vw;
    }
}
.message{
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
}
.message p{
    margin: 0;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;

}
#newnote-main p{
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    transform: translate(-32%,-70%);
    position: absolute;

}
.title-input{
    width: 90%;
    background-color: rgba(184, 184, 184, 0.7);
    font-family: kanit, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

/* Popup login */

#popup-box{
    display: none; /* disabled for now */
    padding: 0px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    z-index: 10;
}
.popup-login{
    position: absolute;
    top: 50%; 
    left: 50%; /* Add this */
    transform: translate(-50%, -50%); 
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    background-color: #f1f1f1;
    border: #fff 15px solid;
    transition: transform 0.5s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto; 
}
@media (max-width: 600px) {
    .popup-login {
        width: 90%; 
        padding: 10px; 
        font-size: 0.8em; 
    }
}
.popup-login p {
    font-family: kanit, sans-serif;
    font-size: 30px;
    display: flex;
    font-style: normal;
    text-align: center;
}
.popup-login h3 {
    font-family: kanit, sans-serif;
    font-size: 50px;
    font-style: normal;
    text-align: center;
}
.bi-exclamation-triangle{
    font-size: 100px;
    color: red;
}