@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body{
  padding:0px;
	padding-top: 28px;
  margin:0px;
	background-color: white;
  justify-content: center;
  align-items: center;
  font-family: kalam;
}


/*START text box*/
.align{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper{
  margin-top: 10px auto;
	margin-bottom: 30px;
  width: 70%;
  background-color: lightgray;
  border: 5px solid rgb(18, 179, 248);
  border-bottom: 8px solid rgb(19, 157, 216);
  border-radius: 20px;
}
.wrapper img, .wrapper li {
  max-width: 400px;
  float:right;
  margin-top:-25px;
  border-radius: 20px;
  margin-right: 4%;
  margin-bottom: 0;
  text-align: center;
  transition: transform 0.3s ease;
  padding-bottom: 1%;
  padding-left: 1%;
  }
  @media (max-width:700px) {
    .wrapper img ,.wrapper li{
      max-width: 100%;
      float:none;
      margin-right: 0%;
      margin-top: 0px;
      padding: 0px;

    }
  }
  @media (max-width:880px) {
    .wrapper {
      width: 100%;
    }
  }
/*END text box*/
/*-Fade down effect-*/
.bgimg{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,162,232) 79%);
  background-repeat: no-repeat;
  /* height: 220px; */
}
/*Text css*/
h1 {
	text-align: center;
	font-family: kalam,sans-serif;
	padding-top: 79px;
	font-size: 30px;
  font-weight: bold;
}
h2 {
	text-align: center;
	font-family: kalam,sans-serif;
	padding-bottom: 9px;
	font-size: 35px;
  font-weight: bold;
  /* margin-bottom: 10px; */
}
h3, h3 a{
  text-align: center;
  font-family: sans-serif;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
h4{
  float: right;
  font-family: sans-serif;
  color: white;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  padding-right: 5%;
  font-size: initial;

}
h1, h2, h3, h4, h5, h5 a{
  line-height: initial;
}


h5{
  text-align: center;
	font-family: kalam,sans-serif;
	font-size: 30px;
  font-weight: bold;
}
p{
  font-family: sans-serif;
  font-size: 130%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 8px;
}
/* .wrapperleft li{
  font-family: sans-serif;
  font-size: 130%;
  text-align: center;
  padding-top: 8px; */
  /* margin-right: 20%; */
/* } */
li{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;

}
/*END text css*/
/*START Left text box*/
.wrapperleft{
  margin-top: 10px auto;
	margin-bottom: 30px;
  width: 70%;
  background-color: lightgray;
  border: 5px solid rgb(18, 179, 248);
  border-bottom: 8px solid rgb(19, 157, 216);
  border-radius: 20px;
  transition: all 0.3s ease;
}
/* .wrapperleft img {
  max-width: 400px;
  float:left;
  margin-top:-20px;
  border-radius: 20px;
  margin-left: 10%;
  }
  @media (max-width:700px) {
    .wrapperleft img  {
      max-width: 100%;
      float:none;
      margin-left: 0%;
      
    }
  } */
  @media (max-width:1200px) {
    .wrapperleft {
      width: 90%;
      transition: all 0.3s ease;
    }
  }
  @media (max-width:880px) {
    .wrapperleft,li {
      width: 100%;
      transition: all 0.3s ease;
    }
  }


  a{
    text-decoration: none;
    color: #00A2E8;
    text-decoration: underline;
    transition: font-size 0.3s ease;
    font-size: 20px;
  }
  a:hover{
    color: #28bfff;
    text-decoration: underline;
    font-size: 19.5px;  
    
  }
  a:active{
    color: #0049e8;
    text-decoration: underline;
 
  }
/*END Left text box*/
/*START small wrapper*/
.wrappersmall {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  margin-bottom: 30px;
  width: 60%;
  background-color: lightgray;
  border: 5px solid rgb(18, 179, 248);
  border-bottom: 8px solid #139dd8;
  border-radius: 20px;
}

.wrappersmall img {
  max-width: 200px;
  border-radius: 20px;
  margin-left: 10%;
}

.wrappersmall p {
  font-family: sans-serif;
  font-size: 25px;
  padding-top: 0%;
}
@media (max-width:1000px) {
  .wrappersmall {
    width: 80%;
  }
}

@media (max-width:800px) {
  .wrappersmall {
    width: 100%;
  }
}
@media (max-width:800px) {
  .wrappersmall p {
    padding-right: 0%;
    padding-left: 0%;
    font-size: 150%;
    /* font-size: 20px; */
  }
}


@media (max-width:500px) {
  .wrappersmall p {
    font-size: 120%;
  }
}
@media (max-width:500px) {
  .wrappersmall img {
    max-width: 50%;
    float:none;
    margin-left: 0%;
  }
}

/*END small wrapper*/
/*spinner css*/ 
#spinner {
  animation: rotate 2s linear infinite;
  z-index: -1;
  position: absolute;
  top: 0%;
  margin: 15% 50% 0% 50%;
  width: 50px;
  height: 50px;
  stroke: #fff;
  }
  .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}


.img-ictskills{
  max-width: 400px;
  margin-top: -20px;
  border-radius: 20px;
  margin-left: 10%;
  
}

#skills-img{
  margin-top: -15px;
  margin-left: 0px;
  margin-right: 10%;
}
@media (max-width:1300px) {
  .img-ictskills, .list-dropdown, #skills-img  {
    margin-left: 0%;
    width: 50%;
    margin-right: 0%;
    
  }
  .list-dropdown {
  padding: 0;
  margin-right: 0;
  }
}
@media (max-width: 700px) {
  .content-align {
      flex-direction: column-reverse;
      align-items: center;
  }

  .img-ictskills, #skills-img {
      margin-bottom: 20px;
      max-width: 100%;
      margin-top: 0px;
      width: 100%;
  }

  .list-dropdown {
      width: 100%;
      max-width: none;
      margin-left: 0;
  }
}


.content-align{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: initial;
}
#skills {
  flex-direction: row-reverse;
}
@media (max-width: 700px) {
  #skills {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.leftimg-other{
  max-width: 400px;
  float: left;
  margin-top: -20px;
  border-radius: 20px;
  margin-left: 10%;
}
@media (max-width:700px) {
  .leftimg-other  {
    max-width: 100%;
    float:none;
    margin-left: 0%;
    
  }
}