/*START navigation bar code*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  height: 50px;
  display: flex;
  align-items: center;
  border-bottom: 5px solid rgb(18, 179, 248);
  z-index: 1;
  box-sizing: unset;
}

.navbar {
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial Black;
}
.nav-item {
  color: #fff;
  text-decoration: none;
  padding: 15px 15px;
}

.logo {
  max-height: 30px;
}


.navimg, .navimg-small{
  flex-wrap:wrap;
  margin-top: 5px;
   width: 100%;
  max-width:350px;
  height: 50px;
  object-fit: cover;
  border-radius: 0px;
  max-height: 50px;
  transition: transform 0.3s ease;
}
.nav-item-highlight {
color: #00A2E8;
text-decoration: none;
padding: 15px 15px;
}
.navimg:hover,.navimg-small:hover{
  transform: scale(1.1);
  filter: saturate(10);
}
@media (max-width:629px) {
  img.navimg {
    display: none;
  }
}
@media (min-width:629px) {
  .navimg-small {
    display: none;        
  }
}
@media (max-width:300px) {
  .navimg-small, img.navimg {
    display: none;        
  }
}
.navbar a:hover{
color: #10EEEE;
}
/*END navigation bar code */

/*START bottom navigation bar code*/
.navbottomcontent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.navbottomblock{
  background-color: #333;
  border-top: 5px solid #10EEEE;
  width: 100%;
  bottom: 0;
  overflow: hidden;
  padding-bottom: 1%;
  margin-top: 20px;
}
.navbarbottom {
  max-width: 900px;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial Black;
}
.center-under {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -10px;
}

@keyframes sizeChange {
  0% {
    transform: scale(1);
    color: rgb(0, 255, 251);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.center-under #important {
  font-size: 25px;
  font-weight: bold;
  color: #fcfcfc;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: -10px;
  animation: sizeChange 1s infinite;
}

#important:hover {
  color: #10EEEE;
  transform: scale(1.1);
  transition: all 0.3s ease;
  animation-play-state: paused; 
}
/* END bottom navigation bar code*/