body{
  padding:0px;
	padding-top: 28px;
  margin:0px;
	background-color: white;
  justify-content: center;
  align-items: center;
}

/*START text box*/
.align{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.wrapper{
  margin-top: 10px auto;
	margin-bottom: 30px;
  width: 70%;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: lightgray;
  border: 5px solid rgb(18, 179, 248);
  border-bottom: 8px solid rgb(19, 157, 216);
  position: relative;
}


.wrapper img {
  max-width: 400px;
  float:right;
  border-radius: 20px;
  margin-right: 8%;
  margin-bottom: 1px;
  margin-left: 5px;
  transition: transform 0.3s ease;
  border: 2px solid rgb(19, 157, 216);
  }
  @media (max-width:850px) {
    .wrapper img{
      max-width: 100%;
      float:none;
      margin-right: 0;
      margin-left: 0;
    }
  }
  @media (max-width:880px) {
    .wrapper {
      width: 100%;
    }
  }
.second-title {
	text-align: center;
	font-family: kalam,sans-serif;
	padding-top: 79px;
	font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
}

/*-Fade down effect-*/
.bgimg{
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,162,232) 79%);
  background-repeat: no-repeat;
  padding: 2px;
  /* height: 220px; */
}

.fade-container {
  /* position: relative; */
  width: 70%;
  justify-self: center;
  margin-top: 70px;
  margin-bottom: 50px;
  background: #12B3F8;
  z-index: -1;
  -webkit-box-shadow: 0 0 30px 20px #12B3F8;
  box-shadow: 0 0 30px 20px #12B3F8;
}

@media (max-width: 880px) {
  .fade-container {
    width: 100%;
  }
}
/* 
#fade-up {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(0,162,232,0.8) 79%);
  background-repeat: no-repeat;
  height: 100px; 
  width: 100%;
  position: absolute;
  top: -100px;
  z-index: -1;
  pointer-events: none; 
}

#fade-down {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(0,162,232,0.8) 79%);
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
  padding: 20px 0;
} */
/*Text css*/
h1 {
	text-align: center;
	font-family: kalam,sans-serif;
	padding-top: 79px;
	font-size: 35px;
  font-weight: bold;
}
h2 {
	text-align: center;
  font-family: kalam,sans-serif;
  font-weight: bold;
	padding: 40px;
	font-size: 30px;
}
h3, h3 a{
  text-align: center;
  font-family: kalam,sans-serif;
  /* padding-left: 20px; */
  margin-bottom: -2px;
  font-weight: bold;
  font-size: 25px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.old-project a{
  color: #28bfff;
  display: block;
  text-align: center;
  font-family: kalam,sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.old-project a:hover{
  color: #063be7;
  text-decoration: underline;
  font-size: 24.5px;  
  transition: color 0.3s ease;
}

p a:hover{
  color: #063be7;
  text-decoration: underline;
  font-size: 19.5px;  
  transition: color 0.3s ease;
}

h4{
  float: right;
  font-family: sans-serif;
  color: white;
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  padding-right: 5%;
  font-size: initial;
}

h5, h5 a{
  text-align: center;
  font-family: sans-serif;
  padding-left: 20px;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: font-size 0.3s ease;
}

h5 a:hover{
  color: #28bfff;
    text-decoration: underline;
    font-size: 19.5px;  
    transition: color 0.3s ease;
}

h5 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}
p{
  font-family: sans-serif;
  font-size: 130%;
  text-align: center;
  padding-top: 8px;
  padding-left: 10%;
  padding-right: 10%;
}


/*END text css*/
/*START Left text box*/
.wrapperleft{
  /* margin-top: 10px auto; */
  /* margin-bottom: 30px; */
  width: 70%;
  padding-bottom: 10px;
  border-radius: 20px;
  background-color: lightgray;
  border: 5px solid rgb(18, 179, 248);
  /* border-bottom: 8px solid rgb(19, 157, 216); */
  position: relative;
}
#border-wrap::before {
  content: '';
  position: absolute;
  padding-bottom: 10px;
  border-radius: 20px;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 6px solid #001aff;
  animation: borderRotate 2s linear infinite;
}

@keyframes borderRotate {
  0% { clip-path: inset(0 0 95% 0); }
  25% { clip-path: inset(0 95% 0 0); }
  50% { clip-path: inset(95% 0 0 0); }
  75% { clip-path: inset(0 0 0 95%); }
  100% { clip-path: inset(0 0 95% 0); }
}
.wrapperleft img {
  max-width: 400px;
  float:left;
  margin-top:20px;
  border-radius: 20px;
  margin-left: 8%;
  margin-right: 7px;
  transition: transform 0.3s ease;
  border: 2px solid rgb(19, 157, 216);
  }
  @media (max-width:850px) {
    .wrapperleft img  {
      max-width: 100%;
      float:none;
      margin-left: 0;
      margin-right:0;
      
    }
  }
  @media (max-width:880px) {
    .wrapperleft {
      width: 100%;
    }
  }
  @media (min-width:700px){
  .wrapperleft:hover img, .wrapper:hover img{
    transform: scale(1.03);
    border: 3px solid rgb(0, 179, 255);
  }
}
  a{
    text-decoration: none;
    color: #00A2E8;
    text-decoration: underline;
    transition: font-size 0.3s ease;
    font-size: 20px;
  }
  /* a:hover{
    color: #063be7;
    text-decoration: underline;
    font-size: 19.5px;
    transition: color 0.3s ease;
    
  } */
  a:active{
    color: #0049e8;
    text-decoration: underline;
 
  }
/*END Left text box*/

/*iframe css*/
.game{
  margin-top: 10px auto;
	margin-bottom: -30px;
  width: 70%;
  background-color: lightgray;
  border: 5px solid rgb(18, 179, 248);
  border-bottom: 8px solid rgb(19, 157, 216);
  border-radius: 20px;
}
.game iframe {
  float:left;
  margin-top:25px;
  margin-bottom:25px;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
  @media (max-width:450px) {
    .game iframe, .game li, .game h2{
      display: none;
      }
  }
  @media (min-width:450px) {
    .hide {
      display: none;
      }
  }
.game li{
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 8px;
  margin-right: 0%;
}
  @media (max-width:800px) {
    .game iframe {
      width: 100%;
      float:none;
      margin-left: 0%;
    }
  }
  @media (max-width:800px) {
    .game {
      width: 100%;
    }
  }
  .game h2 {
  text-align: center;
  font-family: sans-serif;
  padding: 0px;
  font-size: 25px;

}
/*END iframe css*/
.search-container {
  display: flex;
  justify-content: center;
}

#myInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 2px solid rgb(19, 157, 216);
  border-radius: 20px;
}

#myUL {
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
  text-align: center;
  margin-left: 25%;
  width: 50%;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  font-family: sans-serif;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
@media (max-width:700px) {
  #myUL, #myInput{
    width: 100%;
    margin-left: 0%;
  }
}
/*spinner css*/ 
#spinner {
  animation: rotate 2s linear infinite;
  z-index: -1;
  position: absolute;
  top: 0%;
  margin: 15% 50% 0% 50%;
  width: 50px;
  height: 50px;
  stroke: #fff;
  }
  .path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}


