/*Form popup css*/
#popup-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    height: 70%;
    width: 25%;
    flex-direction: column;
    align-items: flex-end;
  }
  .popup-button-box{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  #popup-button{
    background-color: #28bfff;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      margin-right: 20px;
      border-radius: 10px;
      transition:transform 0.3s ease;
      position: fixed;
      bottom: 10px;
      z-index: 1;
  }
  #popup-button:hover{
    background-color: #00A2E8;
    transform: scale(1.1);
  }
  
  .popup-content {
    background-color: white;
    border: 1px solid #ccc;
    padding: 2%; 
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 120%; 
    max-width: 150%; 
    height: 100%;
    display: none;
    flex-direction: column;
  }
  @media (max-width:700px){
    #popup-container{
      width: 50%;
    }
  }
  
  .popup-content.show {
    display: block;
    transform: scale(1); 
  }
  
  /* END form popup css */
  /* chat css */
  #chatsView{
    height: 90%;
    width:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: auto;
    margin-bottom: 5px;
  }
  
  .time-date {
    font-style: italic;
    justify-content: space-between; 
    
  }
  
  .user-date {
    display: flex;
    justify-content: space-between; 
    flex-direction: row;
  }
  
  .user-date b {
    flex: 1;
  }
  
  .time-posted {
    font-style: italic;
    margin-right: 10px; /* Adjust the spacing as needed */
  }
  
  #messageList li{
    list-style-type: square;
    margin-bottom: 10px;
    background-color: lightgrey;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center; 
  }
  
  #message-form{
    position: relative;
    flex-direction: row;
    display: none;
  }
  #message-form input {
    width: 100%;
  }
  #message-form button {
    background-color: #28bfff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition:transform 0.3s ease;
    
  }
  #message-form button:hover{
    background-color: #00A2E8;
    transform: scale(1.02);
  }
  /*chat css end */
  
  /*login/register popup css*/
  #login-form-pop, #registration-form{
    display: none;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: 2;
  }
  #login-form-pop.show, #registration-form.show{
    display: block;
    transform: scale(1);
  }
  #login-form, #register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /*END login/register popup css*/
  
  /*button login/register /logout css*/
  #user-actions{
    justify-content: center;
    flex-direction: row;
    display: flex;
  }
  #user-actions button, #login-form button, #register-form button{
    background-color: #28bfff;
    margin: 2px;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition:transform 0.3s ease;
  }
  #user-actions button:hover, #login-form button:hover, #register-form button:hover{
    background-color: #00A2E8;
    transform: scale(1.02);
  }
  #logoutButton{
    display: none;
  }
  /*END button login/register css*/
  #imageChat{
    display: flex;
    margin: auto;
  }
  /*END button login/register css*/